[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/DavidJourdan/geometry-central/
[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
